/* * {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #f00;
}
  
.item {
flex: 0 0 calc(30% - 10px);
margin: 5px;
background-color: #ccc;
padding: 10px;
text-align: center;
}
  
@media (max-width: 768px) {
.item {
    flex: 0 0 calc(100% - 10px);
    }
} */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    background-color: #f00;
    background-image: url('img/about.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

#header {
    /* position: fixed; */
    /* margin-top: 15%; */
    /* top: 0;
    left: 0;
    right: 0; */
    background: #131313;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px #ffffff;
    margin-bottom: 20px;
    line-height: 10vh;
  }
  
  header .logo {
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    transition: .5s;
  }
  
  header .logo:hover {
    transform: scale(1.2);
  }
  
  header nav ul li {
    position: relative;
    float: left;
  }
  
  header nav ul li a {
    display: block;
    color: #ffffff;
    font-size: 55px;
    text-align: center;
  }
  
  /* header nav ul li a:hover {
    background-color: #ffffff;
    color: #000000;
  } */
  
  nav ul li ul {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 180px;
    background-color: #000000;
    color: #ffffff;
    
  }
  
  nav ul li ul li {
    width: 100%;
    font-size: 20px;
    border: 1px solid #ffffff4f;
  }
  
  nav ul li ul li a {
    font-size: 20px;
  }
  
  nav ul li:hover > ul {
    display: initial;
  }
  
  #footer {
    position: relative;
    flex-grow: 1;
    width: 100%;
    border-bottom: 5px solid #ffffff;
    line-height: 50px;
    margin-bottom: 40px;
    background-color: #000000;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    bottom: 0;
  }