{% extends 'main/layout.html' %}

{% block title %}Sushi Bar{% endblock %}

{% block content %}
    <div class="some">
        <h1>Тут пока ничего нет...</h1>
        <h1>
            <i class="fa-solid fa-face-frown"></i>
            <i class="fa-solid fa-face-frown"></i>
            <i class="fa-solid fa-face-frown"></i>
        </h1>
        <p>Холохон Анатолий Константинович</p>
        <pre>
             ____ _____ _   _            ___  ____             __
            |  _ \_   _| \ | |          |__ \|___ \           /_ |
            | |_) || | |  \| |  ______     ) | __) |  ______   | |
            |  _ < | | | . ` | |______|   / / |__ <  |______|  | |
            | |_) || |_| |\  |           / /_ ___) |           | |
            |____/_____|_| \_|          |____|____/            |_|
        </pre>
    </div>
{% endblock %}